.navbar {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  padding: 15px 0;
  text-align: center;
}

.nav-links a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}
